{
  "presets": [["@babel/preset-env"]],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        // "corejs": 3
        // "helpers": true, // 开启帮助函数, 引入@babel/runtime @babel/runtime-corejs2,3 里的函数, 减少体积
        "regenerator": true
      }
    ]
  ]
}
