<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>表单校验</title>
  </head>
  <style>
    .error {
      border: 1px solid red;
    }
  </style>
  <div id="app">
    手机号<input
      type="text"
      v-model="form.data.phone"
      v-bind:class="{
        'error': !!form.errorMsg.phone
    }"
    />
    <br /><br />
    邮箱<input
      type="text"
      v-model="form.data.email"
      :class="{
        'error': !!form.errorMsg.email
    }"
    />
    <button @click="submit">提交</button>
    <br />
    <br />
    <div>
      错误校验 {{JSON.stringify(form.errorMsg)}}
    </div>
  </div>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./formValidator.js"></script>
    <script>
      const initialForm = {
        phone: {
          value: "15957198825",
          validate(val) {
            if (!val) return "手机号不能为空";
            if (val && val.length > 11) {
              return "手机号不能超过11位";
            }
            return "";
          },
          validateOnChange: true,
        },
        email: {
          value: "",
          validate(val) {
            if (!val) return "邮箱不能为空";
            if (val && !val.includes("@")) {
              return "邮箱格式不正确";
            }

            return "";
          },
          validateOnChange: false,
        },
      };

      const form = initForm(initialForm);

      var app = new Vue({
        el: "#app",
        data: {
          form,
        },
        methods: {
          submit() {
            form.onsubmit().then((data) => {
              console.log("校验成功");
              console.log(data);
            });
          },
        },
      });
    </script>
  </body>
</html>
