.box-1 {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid black;
  margin: 20px;
  box-sizing: content-box; /* 设为标准盒模型(默认)，即width代表只content的大小，整个盒子的大小 width + padding + border */
}

.box-2 {
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid black;
  margin: 20px;
  box-sizing: border-box; /* 设为IE盒模型，即width代表整个盒子的大小（content + padding + border）*/
}
